.footer {
    background-color: $very-dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        margin-top: 3rem;
    }

    &__copyright {
        margin-top: 3rem;
        font-size: 0.75rem;
    }
}

.form {
    padding: 0 1rem;
    margin: 3rem 0 3rem;
    width: 100%;
    max-width: 40rem;
    box-sizing: border-box;
    display: flex;

    &__input {
        height: 2.7rem;
        border-radius: 1.35rem;
        border: none;
        padding: 0 2rem;
        margin-right: 0.5rem;
        width: 100%;

        &::placeholder {
            color: $dark-grayish-blue;
        }
    }

    &__submit {
        box-shadow: none;
    }
}

.links {
    display: flex;
    width: 65%;
    max-width: 20rem;
    justify-content: space-between;

    &__link {
        display: block;
        text-align: left;
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:hover {
            color: $bright-orange;
        }
    }
}

.socials {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20rem;

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: white;

        &:hover {
            fill: $bright-orange;
        }
    }
}
