.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;

    &__image {
        width: 100%;
        max-width: 25rem;
        object-fit: cover;
    }

    @include tablet {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.intro-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;

    &__heading {
        text-align: center;
        margin: 1rem 0;
    }

    &__text {
        margin-bottom: 2rem;
        text-align: center;
        line-height: 1.7rem;
    }

    @include tablet {
        align-items: flex-start;

        &__heading {
            text-align: left;
        }

        &__text {
            text-align: left;
        }
    }
}
