.simplify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    height: 25rem;
    background-color: $bright-orange;
    background-image: url("/src/assets/bg-simplify-section-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 3rem;

    &__heading {
        color: white;
        text-align: center;
        padding: 2rem;
        margin: 0;
    }

    &__button {
        background-color: white;
        color: $bright-orange;
        transition: color 200ms;

        &:hover {
            background-color: white;
            color: $grayish-orange;
        }
    }

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        height: 15rem;
        box-sizing: border-box;
        padding: 0 2rem;
        background-image: url("/src/assets/bg-simplify-section-desktop.svg");
        background-position: calc(50% + 20rem) -7rem;

        &__heading {
            text-align: left;
            width: 30rem;
            margin: 0;
        }
    }
}
