.btn {
    background-color: $bright-orange;
    border: none;
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 500;
    color: $very-light-gray;
    padding: 0 1.8rem;
    box-sizing: border-box;
    border-radius: 2.7rem;
    height: 2.7rem;
    box-shadow: 0px 10px 20px -8px $bright-orange;
    cursor: pointer;
    transition: background-color 500ms;

    &:hover {
        background-color: $grayish-orange;
    }
}
