.features {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 5rem;

    &::before {
        content: "";
        position: absolute;
        top: 33rem;
        right: 0;
        width: 100%;
        max-width: 18rem;
        height: 40rem;
        background-image: url("../../assets/bg-tablet-pattern.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 8rem 0;
        z-index: -10;
    }
}

.features-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5rem;

    &__heading {
        margin: 0;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__text {
        text-align: center;
        margin: 0;
    }
}

.feature {
    margin-top: 3rem;
    padding-left: 1rem;
    box-sizing: border-box;
    width: 100%;

    &__header {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $very-pale-red;
        border-radius: 1.25rem 0 0 1.25rem;
    }

    &__heading {
        margin: 0;
    }

    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        width: 4rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        background-color: $bright-orange;
        color: white;
        font-weight: 700;
        font-size: 0.95rem;
    }

    &__text {
        margin-bottom: 0;
        padding-right: 1rem;
    }
}
