.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;

    &__image {
        width: 100%;
        object-fit: cover;
    }
}

.intro-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        text-align: center;
        margin: 1rem;
    }

    &__text {
        margin: 0 1rem;
        margin-bottom: 2rem;
        text-align: center;
        line-height: 1.7rem;
    }
}
