@import "typography";
@import "colors";

body {
    margin: 0;
    font-family: $be-vietnam;
}

h1,
h2,
h3,
h4 {
    color: $dark-blue;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 0.9rem;
}

p {
    color: $dark-grayish-blue;
    font-size: 0.95rem;
    line-height: 1.5rem;
}
